*{
margin: 0;
padding: 0;
box-sizing: border-box;    
}
body{
font-family: 'Courier New', Courier, monospace;  
background-color: darkgrey;  
}
 header nav {
 background-color:red;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 50px;
position: fixed;
 top: 0;
 right: 0;
 left: 0;
 z-index: 1000;
 }
header nav ul{
display: flex;
list-style: none; 
gap: 15px;
margin-right: 15px;
}
span{
color:rgb(247, 246, 244);    
}
header nav ul li a:hover{
color: darkgrey;
}
header nav ul li a{
text-decoration: none;
color:#fff;
font-weight: bold;
}
 .logo{
  color: white; 
  margin-left: 10px;
   font-weight: bolder;
 font-size: large; 
 }
 #hamburger{
 display: none;
 flex-direction: column;
 cursor: pointer;
 gap: 5px;
 padding: 5px;
 }
 #hamburger span{
  width: 25px;
  height: 3px;
  background-color: #fff;
 }
 main{
 margin-top: 60px;   
 }