*{
margin: 0;
padding: 0;
box-sizing: border-box;    
}
body{
font-family: 'Courier New', Courier, monospace;  
background-color: darkgrey;  
}
 header nav {
 background-color:red;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 50px;
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 z-index: 1000;
 }
header nav ul{
display: flex;
list-style: none; 
gap: 15px;
margin-right: 15px;
}
span{
color:rgb(247, 246, 244);    
}
header nav ul li a:hover{
color: darkgrey;
}
header nav ul li a{
text-decoration: none;
color:#fff;
}
 .logo{
  color: white; 
  margin-left: 10px;
   font-weight: bolder;
 font-size: large; 
 }
#hamburger{
 display: none;
 flex-direction: column;
 cursor: pointer;
 gap: 5px;
 padding: 5px;
 }
 #hamburger span{
  width: 25px;
  height: 3px;
  background-color: #fff;
 }
 .main-infor{
 display: grid; 
 grid-template-columns: 2fr 1fr;
 padding: 5px;  
 }
 main{
 margin-top: 60px;   
 }
 #orderBtn{
 background-color: red;   
 padding: 7px;
 border: none;
 border-radius: 5px;
 font-weight: bold;
 color: #fff;   
 }
 .content{
 margin:10px 0 0 10px;   
 }
@media(max-width:768px){
header nav ul{
position: absolute; 
top: 60px;
flex-direction: column;
background-color: red;
right: 0;
text-align: right;
padding: 10px;
display: none;
}
.main-infor{
display: grid;
grid-template-columns: 1fr;  
}
#hamburger{
display: flex;    
}
header nav .show{
display: flex;    
}    
}