*{
margin: 0;
padding: 0;
box-sizing: border-box;    
}
body{
font-family: 'Courier New', Courier, monospace;  
background-color: darkgrey;  
}
 header nav {
 background-color:red;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 50px;
position: fixed;
 top: 0;
 right: 0;
 left: 0;
 z-index: 1000;
 }
header nav ul{
display: flex;
list-style: none; 
gap: 15px;
margin-right: 15px;
}
span{
color:rgb(247, 246, 244);    
}
header nav ul li a:hover{
color: darkgrey;
}
header nav ul li a{
text-decoration: none;
color:#fff;
font-weight: bold;
}
 .logo{
  color: white; 
  margin-left: 10px;
   font-weight: bolder;
 font-size: large; 
 }
 #hamburger{
 display: none;
 flex-direction: column;
 cursor: pointer;
 gap: 5px;
 padding: 5px;
 }
 #hamburger span{
  width: 25px;
  height: 3px;
  background-color: #fff;
 }
 main{
 margin-top: 60px;   
 }
 .menu-grid{
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
 gap: 20px;
 padding: 20px;
 }
.order{
background-color: #fff;
padding: 15px;
border-radius: 10px;
}
.qty{
color: #000;    
}
.cart-btn{
background-color: white;
color: red;
border-radius: 8px;
text-decoration: none;
font-weight: bold;
margin-right: 10px;
padding: 8px 15px;
}
@media(max-width:768px){
header nav ul{
position: absolute; 
top: 60px;
flex-direction: column;
background-color: red;
right: 0;
text-align: right;
padding: 10px;
display: none;
}
#hamburger{
display: flex;    
}

header nav .show{
display: flex;    
} 
.cart-btn{
font-size: 14px; 
padding: 7px 10px;   
}   
}
